<section class="Furnitura-collection-list">
  <div class="collection-list__container">
    <div class="container">
      <div class="container-discover">
        {% assign title_discover = section.settings.title %}
        {% assign description_discover = section.settings.description %}

        {% if title_discover != blank and description_discover != blank %}
          <h2 class="title--dark">{{ title_discover }}</h2>
          <p class="paragraph--gray">{{ description_discover }}</p>
          <div class="discover-items">
            {% for collection in collections %}
              <div class="discover-item">
                <div class="discover-item__img">
                  <img
                    width="300"
                    height=""
                    src="{{ collection.featured_image | image_url }}"
                    alt="{{ collection.title }}"
                  >
                </div>
                <div class="discover-item__info">
                  <h3 class="title--dark">{{ collection.title }}</h3>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <h2 class="title--dark">Lorem ipsum</h2>
          <p class="paragraph--gray">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nihil ab omnis odit ad sint, iusto beatae
            repellendus similique. Assumenda iusto dolore beatae saepe quaerat accusantium aperiam nobis eius corrupti.
          </p>
          <div class="discover-items">
            {% for collection in collections %}
              <div class="discover-item">
                <div class="discover-item__img">
                  <img
                    width="300"
                    height=""
                    src="{{ collection.featured_image | image_url }}"
                    alt="{{ collection.title }}"
                  >
                </div>
                <div class="discover-item__info">
                  <h3 class="title--dark">Lorem ipsum</h3>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<style>
  .container {
    max-width: 1242px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }
  .Furnitura-collection-list {
  }
  .collection-list__container {
    margin: 0;
  }
  .container-discover {
  }
  .title--dark {
    color: black;
    font-weight: 500;
  }
  .paragraph--gray {
    color: gray;
    font-weight: 300;
  }
  .discover-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .discover-item {
  }
</style>
{% schema %}
{
  "name": "List Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }
  ],
  "presets": [
    {
      "name": "List Collections"
    }
  ]
}
{% endschema %}
